<!DOCTYPE html>
<html>
<head>
<title>My webpage!</title>
<script type="text/javascript">
window.onload = function(){
	var paragraphText = document.getElementById("par1");
	var name = paragraphText.innerHTML;
	if (name.length === 0) {
		alert("wrong data");
	}
	console.log(name);
}
</script>
</head>
<body>
	<h1>HTML - Hyper Text Markup Language</h1>
	<a href="http://www.stiridecluj.ro"> <img
		alt="Short pic with a cat shown" src="http://bit.ly/1Kt0ljT"
		title="Coal cat bashed by snowball" height="300px" width="540px" /></a>
	<p id="par1" name="paragraph name" class="paragraph">This is a paragraph</p>
	<a href="http://www.gsp.ro" title="This is my cool link">Gazeta</a>
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
	<ol>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ol>
	<form method="get" action="http://localhost:8080/student"
		enctype="multipart/form-data">
		<label>Contact message</label> 
		<input type="text" style="height:100px" size="50" /><br> 
		<label>Email address</label> 
		<input type="email" size="60" />
		<button type="submit">Submit</button>
	</form>
	<table border="1" width="400px" height="250px" style="border-collapse:collapse;">
		<tr><th><h2>Col 1</h2></th><th><h2>Col 2</h2></th><th><h2>Col 3</h2></th></tr>
		<tr><td colspan="2" rowspan="1">Man</td><td>Pig</td></tr>
		<tr><td>Chicken</td><td>Seagull</td><td>Crow</td></tr>
	</table>
</body>
</html>